html {
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

body {
  line-height: 1.2;
  background-color: white;
  min-width: 800px;
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

header {
  width: 100%;
  background-color: #971F06;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 auto;
}



header span{
  flex-grow: 1;
  font-size: 2rem;
  margin-left: 4%;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

header nav{
  color: white;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 1rem;
  margin-right: 3rem;
}


div.abc {
  width: 100%;
  background-image:  url("../resources/new/door.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 810px;
}

div.abc div.banner {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}

/*
div.abc div.banner div.title {
  width: 40%;
  height: 3.6rem;
  background-color: grey;
  margin: 0 auto;
  text-align: center;
}
*/

/*
div.title h1 {
  font-size: 3rem;
}
*/

div.nav {
  width: 70%;
  display: flex;
  justify-content: center;
}
div.nav div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 2rem;
  background-color: grey;
  font-weight: bold;
  color: #971F06;
  font-size: 1rem;
  margin: 5%;
  text-align: center;
  padding: 0.5rem;
  border: 1px solid white;
  border-radius: 15px;
}


footer {
  width: 100%;
  margin: 0 auto;
  padding: 0.7rem 0;
  color: white;
  background-color: #971F06;
  text-align: right;
}

footer div.contact {
  font-size: 0.8rem;
}

footer div.contact,
footer > span {
    margin-right: 2rem;
}


@media only screen and (max-width: 1040px){
  div.abc {
    height: 600px;
  }
  body {
    width: 100%;
    min-width: 100px;
    }
  html {
    font-size: 12px;
  }
}
