html {
  font-size: 16px;
  font-family: "Verdana", sans-serif;
}

body {
  line-height: 1.2;
  background-color: white;
}

.strong {
  font-weight: bold;
}

.em {
  font-style: italic;
}

header {
  width: 100%;
  background-color: #971F06;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: bold;
  margin: 0 auto;
}



header span{
  flex-grow: 1;
  font-size: 2rem;
  margin-left: 3rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: white;
}

header nav {
  margin-right: 3rem;
}
header nav{
  color: white;
  font-size: 1.2rem;
  font-style: italic;
  margin-top: 1rem;
  margin-right: 3rem;
}


div.abc {
  background-color: hsla(215, 18%, 87%, 1);
  width: 100%;
  min-height: 700px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 0.5rem 0;
}
img {
  width: 500px;
  margin: 0.3rem;
}
h1 {
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
.abc p {
  width: 75%;
}
footer {
  width: 100%;
  margin: 0 auto;
  padding: 0.7rem 0;
  color: white;
  background-color: #971F06;
  text-align: right;
}

footer div.contact {
  font-size: 0.8rem;
}

footer div.contact,
footer > span {
    margin-right: 2rem;
}
